@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.swagger-ui,
.swagger-ui * {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: oklch(88.5% 0.062 18.334) !important;
}

.opblock {
    background-color: oklch(80.8% 0.114 19.571) !important;
    transition: all 0.25s ease;
}

.opblock-section-header {
    background-color: oklch(81% 0.117 11.638) !important;
}

.scheme-container {
    background-color: rgb(99, 99, 99) !important;
    margin: 2px !important;
    padding: 2px !important;
    box-shadow: 2px;
}

.modell {
    padding: 25px;
}

/*--------------------*/

/* ROUTE ANIMÁCIÓ */

.swagger-ui .opblock.is-open {
    animation: routeOpen 0.35s cubic-bezier(.34, 1.56, .64, 1);
}

@keyframes routeOpen {
    from {
        transform: translateY(-12px) scale(0.98);
        opacity: 0.6;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

/*--------------------*/

/* HOVER EFFECT */

.swagger-ui .opblock:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.18);
}

/*--------------------*/

/* PAGE LOAD ANIMÁCIÓ */

.swagger-ui .wrapper {
    opacity: 0;
    animation: swaggerPageLoad 0.8s ease forwards;
}

@keyframes swaggerPageLoad {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}