# =========================
# App
# =========================
NODE_ENV=development
PORT=6769
Seed=false
Docker_Active=false

# =========================
# Database
# =========================
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=mysql

# =========================
# Auth / Security
# =========================
JWT_SECRET=

# =========================
# Mail / SMTP
# =========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=

# =========================
# Frontend / Backend URLs
# =========================
FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000/registration/
BACKEND_PUBLIC_URL=http://localhost:6769

# =========================
# Upload / Cloud
# =========================
Cloud_key=